
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}


body {
  background-image: url('https://i.imgur.com/G2vZgbP.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background-color: rgba(0, 0, 0, 0.85);
  border-bottom: 3px solid #ff6600;
  position: sticky;
  top: 0;
  z-index: 999;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
  color: #ff6600;
  text-shadow: 0 0 5px #ff6600;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

header nav ul li a:hover {
  background-color: #ff6600;
  color: #000;
}


section {
  padding: 50px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 30px 50px;
  border-radius: 15px;
  border: 2px solid #ff6600;
  box-shadow: 0 0 10px #ff6600;
}


h2 {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
  margin-bottom: 20px;
  text-align: center;
}

.meio {
  margin: 100px;
  padding: 15px 25px;
  background-color: #00ffff;
  color: #000;
  border: none;
  border-radius: 30px;
  text-shadow: 0 0 10px #00ffff;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 255, 255, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
  
}

.meio:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 255, 255, 0.6);
}



p {
  font-size: 1.1em;
  margin-bottom: 15px;
}


ul li {
  margin-bottom: 10px;
  font-size: 1.05em;
}


.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

figure {
  width: 250px;
  height: 50%;
}


.carro1 img {
  width: 100%;
  border: 3px solid #00ffff;
  border-radius: 10px;
  box-shadow: 0 0 15px #00ffff;
  
}


.carro2 img {
  width: 100%;
  border: 3px solid #cc00ff;
  border-radius: 10px;
  box-shadow: 0 0 15px #cc00ff;
}


.carro3 img {
  width: 100%;
  border: 3px solid #ff6600;
  border-radius: 10px;
  box-shadow: 0 0 15px #ff6600;
}


figcaption {
  margin-top: 5px;
  font-size: 0.9em;
  color: #eee;
}


.carro2 {
  width: 100%;
  margin: 30px auto;
  border: 2px solid #ff6600;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 25px #ff6600;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px #ff6600, 0 0 40px #ff6600, 0 0 60px #ff6600;

}


.carro2 video {
  width: 100%;
  height: auto;
  display: block;
}


.carro2 figcaption {
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  background-color: rgba(255, 102, 0, 0.2); 
  border-top: 1px solid #ff6600;
}

